@tailwind base;
@tailwind components;
@tailwind utilities;

/* define color palette */

:root {
    --devblue-50: #effaff;
    --devblue-100: #dbf3fe;
    --devblue-200: #bfebfe;
    --devblue-300: #93e0fd;
    --devblue-400: #61ccf9;
    --devblue-500: #3cb1f5;
    --devblue-600: #2f9aeb;
    --devblue-700: #1e7dd7;
    --devblue-800: #1f65ae;
    --devblue-900: #1e568a;
    --devpink-50: #fef1f7;
    --devpink-100: #fee5f1;
    --devpink-200: #ffcbe6;
    --devpink-300: #ffa1cf;
    --devpink-400: #ff67ad;
    --devpink-500: #fa3a8c;
    --devpink-600: #ec2872;
    --devpink-700: #cc0a4e;
    --devpink-800: #a90b40;
    --devpink-900: #8c0f39;
    --devyellow-50: #fefde8;
    --devyellow-100: #fffec2;
    --devyellow-200: #fffa87;
    --devyellow-300: #fff043;
    --devyellow-400: #ffe226;
    --devyellow-500: #efc603;
    --devyellow-600: #ce9a00;
    --devyellow-700: #a46e04;
    --devyellow-800: #88550b;
    --devyellow-900: #734610;
}
